<!--view/front/login.ejs-->
<link rel="stylesheet" href="/styles/front/login.css" />

<section class="Login">
    <div class="title">ចុះ​ឈ្មោះ​ចូល​ទំព័រ​គ្រប់គ្រង</div>
    <form action="/login" method="post">
        <a>Email:</a><input name="email" type="email" required placeholder="Email" />
        <a>ពាក្យ​សំងាត់ៈ</a><input name="password" type="password" required />
        <a></a><input type="submit" value="បញ្ជូន" /> 
        <a></a><div><%= data.message %></div>
    </form>
    
</section>